.root {
	height: 100vh;
	background-image: url(../Background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.size {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.paper {
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.avatar {
	margin: 10px;
	background-color: #0047ab;
}
.logo {
	width: 100%;
}
.form {
	width: 100%;
	margin-top: 10px;
}
.space {
	margin-top: 10px;
}
